<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add-product</title>
</head>

<body>

    <form action="/add-product" method="post">
        <div><input type="text" name="name" />Name</div>
        <div><input type="text" name="price" />Price</div>
        <div><input type="text" name="description" />Desc</div>
        <div><input type="text" name="imgUrl" />imgUrl</div>
        <div><button type="submit">Add product</button></div>
    </form>

</body>

</html>